@import 'mixins.scss';
@import 'variables.scss';
.about-main-content-wrap {
  padding:0;
  img {
    width:100%;
    @include breakpoint(medium_screen1){
      margin-top:20px;
    }
  }


.about-me {
    padding: 20px 0 0 0;
    font-family: $font-main;

    @include breakpoint(medium_screen1){
      padding: 0;
      margin-top:0;
    }
    div {
      margin-bottom: 50px;
      padding:0;

      
      p {
        font-family: $font-main;
        color: rgb(150,153,151);
        font-size: 1.2em;
        font-weight: 300;
        text-align: left;
        padding:40px 30px 30px 0;
        span {
          font-size: 1.5em;
          font-weight: bold;
        } 

        @include breakpoint(medium_screen1){
          font-size: 1em;
          padding:0 !important;
          
         }
         @include breakpoint(medium_screen3){
            text-align: center;
            width: 100%;
            clear: both;
         }
      }
    }
  }
 } 
.image-about-us {
    max-width: 250px !important;
    float: left;
    display:block;
     @include breakpoint(medium_screen3){
          margin:0 auto;
          float: none;
         }
      }
.about2 {
    overflow: hidden;
    padding:0 0 40px 0;
  }
.association {
  max-width: 150px !important;
  float: left;
 display:block;
   }
.about-us-txt {
  float: none;
  display: block;
  clear: both;
 }
 blockquote {
  font-style: italic;
  font-weight: 300;
  color: rgb(150,153,151);
 }
 .gallery{
    &:after {
        content: '';
        display: block;
        height: 2px;
        margin: .5em 0 1.4em;
    }
    img {
        width: 100%;
        height: 100%;
        max-height:200px;
        max-width: 469px;
        padding:1%;
    }
    a {
      width: 25%;
      max-height:300px;
      display: inline-block;
      float: left;
      overflow: hidden;
      margin:0;
      @include breakpoint(medium_screen3) {
         width: 100%;
      }
    }
  }
.gallery-wrap {
  margin-top:40px;
  h2{
        font-weight:400;
      font-size: 2em;
      line-height: 60px;
      color:rgb(17,21,32);
      margin:0 auto;
      clear: both;
      font-family: $font-main;
      }
}
#myList a{ display:none;
}
.load-buttons {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
  text-align:center;
  padding:50px 0 120px 0;
  #loadMore {
    display: block;
    width:100px;
    height: 100px;
    cursor:pointer;
    line-height: 40px;
    text-decoration:none;
    border-radius:50%;
    position:relative;
    font-family: $font-main;
    color: #9A9899;
    background:#343434;
    line-height: 90px;
    color: #fff;
  }
}

#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
    @include transition(opacity 0.5s ease);
    .visible {
      opacity: 1; 
    }
    .full-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center; 
      figure {
        display: inline;
        margin: 0;
        height: 100%;
      }
      img {
      display: inline-block;
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
      @include box-shadow(0, 0, 8px, rgba(0, 0, 0, 0.6));
      }
      figcaption {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        line-height: 1.8;
        white-space: normal;
        color: #ccc;
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.6);
        font-family: sans-serif; 
      }
      &:before {
        content: "";
        display: inline-block;
        height: 50%;
        width: 1px;
        margin-right: -1px; 
      }
    }
  }


#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
          transition: left 0.4s ease, -moz-transform 0.4s ease;
          transition: left 0.4s ease, transform 0.4s ease; }
  #baguetteBox-slider.bounce-from-right {
    -webkit-animation: bounceFromRight 0.4s ease-out;
            animation: bounceFromRight 0.4s ease-out; }
  #baguetteBox-slider.bounce-from-left {
    -webkit-animation: bounceFromLeft 0.4s ease-out;
            animation: bounceFromLeft 0.4s ease-out; }


@keyframes bounceFromRight {
  0% {
    margin-left: 0; }
  50% {
    margin-left: -30px; }
  100% {
    margin-left: 0; } }



.baguetteBox-button#next-button, .baguetteBox-button#previous-button {
  top: 50%;
  width: 44px;
  height: 60px; }

.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  -moz-border-radius: 15%;
       border-radius: 15%;
  background-color: #323232;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ddd;
  font: 1.6em sans-serif;
  -webkit-transition: background-color 0.4s ease;
          transition: background-color 0.4s ease; }
  .baguetteBox-button:hover {
    background-color: rgba(50, 50, 50, 0.9); }
  .baguetteBox-button#next-button {
    right: 2%; }
  .baguetteBox-button#previous-button {
    left: 2%; }
  .baguetteBox-button#close-button {
    top: 20px;
    right: 2%;
  
    width: 30px;
    height: 30px; }
  .baguetteBox-button svg {
    position: absolute;
    left: 0;
    top: 0; }

.spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
       border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
          animation: bounce 2s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s; }







div.img img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}


.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    margin-top: 10px;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}


.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.gallery-car-park {
    padding: 40px 0;
}
.gallery-car-park h2 {
    width:100%;
    color:#012231;
    padding:30px 0;
    text-align: center;
    font-size: 3em;
    margin: 0;
}
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}


.close {
    position: absolute;
    top: 150px;
    right: 350px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
