.main-contact-wrap-bg .btn {
  display: block;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 5px 20px;
  width: 160px;
  height: 45px;
  color: #0F111D;
  margin: 20px auto 0 auto;
  line-height: 34px;
  background: #fff;
  background-size: 160px;
}

.main-contact-wrap-bg {
  margin-top: 40px;
  background: url(../img/footer-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 40px 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main-contact-wrap-bg {
    padding: 0;
  }
}

.main-contact-wrap-bg .foo-logo {
  text-align: center;
  padding: 60px 0;
  margin-top: 30px;
}

.main-contact-wrap-bg .foo-logo ul {
  padding: 0;
  margin-bottom: 50px;
}

.main-contact-wrap-bg .foo-logo li {
  display: inline-block;
  list-style-type: none;
}

.main-contact-wrap-bg .foo-logo a {
  color: #fff;
  padding: 15px;
  display: block;
}

.main-contact-wrap-bg .foo-logo p {
  color: #fff;
}

.main-contact-wrap-bg .all-services {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  padding: 40px 0;
}

@media (max-width: 768px) {
  .main-contact-wrap-bg .all-services {
    padding: 0;
  }
}

.main-contact-wrap-bg .all-services .table-wrap {
  text-align: center;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .main-contact-wrap-bg .all-services .table-wrap {
    margin-top: 40px;
  }
}

.main-contact-wrap-bg .all-services .table-wrap h3 {
  font-size: 1.3em;
  font-weight: 300;
  color: #fff;
  padding: 20px 0 0 0;
  margin: 0;
}

.main-contact-wrap-bg .all-services .table-wrap img {
  width: 70px;
  height: 70px;
}

.main-contact-wrap-bg .cell {
  margin: 0;
  padding: 0;
}

.main-contact-wrap-bg .form-group {
  color: #fff;
  padding: 0 0 0 50px;
  width: 100%;
  max-width: 520px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .main-contact-wrap-bg .form-group {
    padding: 0 15px;
    margin: 0 auto !important;
  }
}

.main-contact-wrap-bg .form-group label {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  float: left;
}

.main-contact-wrap-bg .form-group input {
  border-radius: 0;
  background: transparent;
  color: #fff;
}

.main-contact-wrap-bg .form-group-text {
  color: #fff;
  padding: 0 0 0 50px;
  max-width: 520px;
  width: 100%;
  display: block;
  clear: both;
}

@media (max-width: 768px) {
  .main-contact-wrap-bg .form-group-text {
    margin: 0 auto;
    padding: 0 15px;
  }
}

.main-contact-wrap-bg .form-group-text label {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 1em;
  float: left;
}

.main-contact-wrap-bg .form-group-text textarea {
  border-radius: 0;
  color: #80B501;
  background: transparent;
  color: #fff;
}

.main-contact-wrap-bg .form-control:focus {
  border-color: #fff;
  -webkit-box-shadow: none false false false false;
  -moz-box-shadow: none false false false false;
  box-shadow: none false false false false;
}

.main-contact-wrap-bg .btn {
  border-radius: 0;
  border: 0;
  margin: 20px auto;
  max-width: 520px;
  width: 100%;
  float: none;
}

.main-contact-wrap-bg .btn:hover {
  background: #ffe500;
  color: #000;
}
