
@import 'mixins.scss';
@import 'variables.scss';

body {
  margin:0;
  padding:0;
  border-top:6px solid #FFE500;
}

.no-display {
  display: none !important;
  @include breakpoint(medium_screen1){
      display: block !important;
     }
    }
.nav-expander {

  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-right: 0;
  padding: 1em 1.6em 2em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 20px;
  z-index: 12;
  @include transition(right 0.3s ease-in-out 0s);
  &.fixed {
    position: fixed;
  }
}

.nav-expanded {
  margin-left: 0em;
  @include transition(right 0.3s ease-in-out 0s);
    nav {
    right: 0;
  }
  .nav-expander {
    &.fixed {
      right: 16em;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

#nav-close {
  font-family: $font-main;
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;
}

.main-menu {
    padding-top: 0;
    li {
      border-bottom: 1px solid #e8e5e5;
      margin-left: 20px;
      font-size: 18px;
      padding: 12px;
      .sub-nav {
        border-bottom: 0px;
        padding: 4px;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      font-size: .9em;
      font-family: $font-main;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }

.navbar-inverse {
    background:transparent; 
    border: none; 
}

nav {
    @include breakpoint(medium_screen1){
        background:rgb(14,17,26);
        display: block;
        height: 100%;
        overflow: auto;
        position: fixed;
        right: -22em;
        font-size: 15px;
        top: 0;
        width: 16em;
        z-index: 2000;
        @include transition(right 0.3s ease-in-out 0s); 
    }
}